.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.game-container {
    margin-bottom: 15px;
}

.player {
    padding: 10px;
    margin: 10px 0;
    background: #06972f;
    outline: 4px solid black;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons {
    margin-top: 10px;
}

.button {
    padding: 8px 16px;
    margin: 0 5px;
    background: #3dd21e;
    color: black;
    cursor: pointer;
}

.status {
    font-size: 2em;
}